// Your application styles go here

//helpers
.text-center{
  text-align: center;
}
.strong{
  font-weight: bold;
}
.size-20{
  font-size: 18px;
}

//app style

form{
  .form-error{
    color: red;
    padding: 5px 15px 10px;
  }
  label.item.has-error {
    border-bottom: 2px solid red;
  }
}

.list{
  .item{
    .item-right{
      float: right;
    }
  }
}
