<ion-view title="Login" hide-back-button="true">
  <ion-content class="has-header">
    <form name="loginForm" novalidate ng-submit="doLogin(loginForm)">
      <div class="list">
        <label class="item item-input" ng-class="{ 'has-error' : loginForm.name.$touched && loginForm.name.$invalid}">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username" name="name" required="">
        </label>
        <div ng-show="loginForm.name.$submitted && loginForm.name.$touched">
          <div class="loginForm-error" ng-show="loginForm.name.$error.required">Please provide your username</div>
        </div>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password" name="password" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
